{% extends "controlHomeTemp.html" %} {% block body %}

            <div class="app-content">
                <section class="section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline timeline--loaded" style="opacity: 1;">
                                <div class="timeline__wrap">
                                    <div class="timeline__items">

                                        <div class="timeline__item timeline__item--left fadeIn">
                                            <div class="timeline__item__inner">
                                                <div class="timeline__content__wrap">
                                                    <div class="timeline__content card ">
                                                        <h2>文本存证</h2>
                                                        <p>“斗之力，三段！”,望着测验魔石碑上面闪亮得甚至有些刺眼的五个大字，少年面无表情，唇角有着一抹自嘲，紧握的手掌，因为大力，而导致略微尖锐的指甲深深的刺进了掌心之中，带来一阵阵钻心的疼痛…
                                                        </p>
                                                        <a href="txtDetail.html" class="btn btn-primary btn-sm  mt-2">
                                                                查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="timeline__item timeline__item--right fadeIn">
                                            <div class="timeline__item__inner">
                                                <div class="timeline__content__wrap">
                                                    <div class="timeline__content card">
                                                        <h2>图片存证</h2>
                                                        <img src="/static/img/other/china.jpg" alt="img" class="timelineimg">
                                                        <p class="mt-4">这是...</p>
                                                        <a href="txtDetail.html" class="btn btn-primary btn-sm  mt-2">
                                                                查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline__item animated timeline__item--left fadeIn">
                                            <div class="timeline__item__inner">
                                                <div class="timeline__content__wrap">
                                                    <div class="timeline__content card">
                                                        <h2>视频存证</h2>
                                                        <video controls="controls" autoplay="autoplay" style="width: 100%;">
                                                            <source src="/static/video/fengjin.mp4" type="video/mp4" />
                                                        </video>
                                                        <p>
                                                            <a href="txtDetail.html" class="btn btn-primary btn-sm  mt-2">
                                                                    查看详情
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
	{% endblock %}


