

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kharna-Admin Dashboard</title>

    <!--favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--Bootstrap.min css-->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!--Icons css-->
    <link rel="stylesheet" href="/static/assets/css/icons.css">

    <!--mCustomScrollbar css-->
    <link rel="stylesheet" href="/static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css">

    <!--Style css-->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!--Sidemenu css-->
    <link rel="stylesheet" href="/static/assets/plugins/toggle-menu/sidemenu.css">

    <!--Bootstrap-daterangepicker css-->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.css">

    <!--Bootstrap-datepicker css-->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css">

    <!--iCheck css-->
    <link rel="stylesheet" href="/static/assets/plugins/iCheck/all.css">

    <!--Bootstrap-colorpicker css-->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.css">

    <!--Bootstrap-timepicker css-->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css">

    <!--Select2 css-->
    <link rel="stylesheet" href="/static/assets/plugins/select2/select2.css">

    <!--Jquery.min js-->
    <script src="/static/assets/js/jquery.min.js"></script>

    <!--popper js-->
    <script src="/static/assets/js/popper.js"></script>

    <!--Tooltip js-->
    <script src="/static/assets/js/tooltip.js"></script>

    <!--Bootstrap.min js-->
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Jquery.nicescroll.min js-->
    <script src="/static/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

    <!--Scroll-up-bar.min js-->
    <script src="/static/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

    <!--Sidemenu js-->
    <script src="/static/assets/plugins/toggle-menu/sidemenu.js"></script>

    <!--Select2 js-->
    <script src="/static/assets/plugins/select2/select2.full.js"></script>

    <!--Inputmask js-->
    <script src="/static/assets/plugins/inputmask/jquery.inputmask.js"></script>

    <!--Moment js-->
    <script src="/static/assets/plugins/moment/moment.min.js"></script>

    <!--Bootstrap-daterangepicker js-->
    <script src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!--Bootstrap-datepicker js-->
    <script src="/static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!--Bootstrap-colorpicker js-->
    <script src="/static/assets/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>

    <!--Bootstrap-timepicker js-->
    <script src="/static/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>

    <!--mCustomScrollbar js-->
    <script src="/static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--iCheck js-->
    <script src="/static/assets/plugins/iCheck/icheck.min.js"></script>

    <!--forms js-->
    <script src="/static/assets/js/forms.js"></script>

    <!--Scripts js-->
    <script src="/static/assets/js/scripts.js"></script>

</head>

<body>

    <div class="container" style="margin-top: 3%; margin-bottom: 10%;">
        <section class="section">

            <div class="card">
                <div class="card-header">
                    <h4>文本标题</h4>
                </div>
                <div class="card-footer" style="text-align: right;">
                    作者姓名
                </div>
                <div class="card-body">Lorem ipsum是指一篇用于网页设计、排印、布局和印刷的伪拉丁文章，其用于代替英语去强调设计元素而不是内容。它也被称为占位符文（或填充文）。它是一个很便利的模板工具。它用于帮助编排文章或演示文稿的视觉元素，如排印，字体，或布局。Lorem
                    ipsum 大多是由古典作家和哲学家西塞罗创作的拉丁文的一部分。它的单词和字母由于添加或去移除而被改变了，所以故意使其内容荒谬；它不是真实的，正确的，再也不是可理解的拉丁语。虽然lorem ipsum看起来仍像古典拉丁语，但实际上它没有任何意义。因为西塞罗的文本不包含K，W，Z
                    这几个有异于拉丁文的字母，所以这几个字母和其他一些字母常常被随机插入去模拟欧洲语言的排印样式，这些字在原文中其实并没有。 在专业化的使用语境中，经常发生的是私人或公司客户需要制作出版物，而实际的内容还没有准备好。试想如果在一篇新闻博客中填充进一整天每小时的新闻内容，出版复核人员往往会分心阅读其中可读的内容，例如从报纸或互联网上复制来的一段随机文本。他们会专注到文本内容，不再去关注布局及其元素。此外，随机文字内容可能无意中比较幽默或是有冒犯到别人，这在企业环境中将是不可接受的风险。Lorem
                    ipsum和它的许多变体自从1960年代早期就被使用，而且很有可能是从十六世纪就已使用。
                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="dash1">
                                <h4 class="text-dark">675</h4>
                                <small class="text-muted ">¥</small>
                            </div>
                        </div>
                        <div class="col-9">
                            <img src="/static/img/other/line-yinyi.png" alt="价格波动图" style="width: 100%; height: 10%; ">
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mg-b-5">文字作品（文章）</h4>
            <div class="row-12">
                <div class="card">
                    <div class="card-body box">
                        <div class="row">
                            <div class="col-1">
                                <div class="img">
                                    <img style="width: 100%;" src="/static/assets/img/avatar/avatar-1.jpeg.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-11">
                                <h2>作者：示例姓名</h2>
                                <p class="mb-3"> 示例用户ID：xxxxxxx</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body box">
                    <div class="row">
                        <div class="col-6">
                            <h2>Hash 识别码</h2>
                            <p class="mb-3">0000000000000000000000000</p>
                        </div>
                        <div class="col-6" id="qrcode">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>创作完成时间</b>
                        </div>
                        <div class="col-sm-6">2019-1-1 00:00:00</div>
                    </div>
                    <div class="row " style="margin-top: 1%;">
                        <div class="col-sm-6">
                            <b>创作完成时间</b>
                        </div>
                        <div class="col-sm-6">2019-1-1 00:00:00</div>
                    </div>
                </div>
            </div>

            <h4>作者的其他作品</h4>

            <div class="row">
                <div class="rol-sm-3" style="margin-right: 5%; margin-left: 2%;">
                    <div class="card">
                        <div class="card-body box">
                            文章标题1
                        </div>
                    </div>
                </div>
                <div class="rol-sm-3" style="margin-right: 5%;">
                    <div class="card">
                        <div class="card-body box">
                            文章标题2
                        </div>
                    </div>
                </div>
                <div class="rol-sm-3" style="margin-right: 5%;">
                    <div class="card">
                        <div class="card-body box">
                            文章标题3
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-12">
                <button class="btn btn-primary col-md-12">登录购买著作权</button>
            </div>
    </div>
</body>

</html>

<!-- scrpit 脚本 -->

<script>
    $(document).ready(function () {

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        alert($.getUrlParam('blockHash'));

        $("#upload").click(function () {
            $.post("fdasfdsafdsafdsa.html",
                {
                    blockHash: $.getUrlParam('blockHash')
                },
                function (data, status) {
                    
                    new QRCode(document.getElementById('qrcode'), {
                        text: encodeURIComponent('www.attachableip.top?productId='+123),
                        width: 100,
                        height: 100,
                        colorDark: '#000000',
                        colorLight: '#ffffff',
                        correctLevel: QRCode.CorrectLevel.H
                    });

                    alert('datatatatat');

                    $('#title').text(title);
                    $('#author').text(author);
                    $('#filetxt').text(filetxt);
                    $('#userId').text(userId);
                    $('#hashcode').text(hashcode);
                    $('#qrcode').attr("src", picurl);
                    $('#productFinishedTime').text(productFinishedTime);
                    $('#productApprovedTime').text(productApprovedTime);
                    $('#product1').text(product1);
                    $('#product2').text(product2);
                    $('#product3').text(product3);
                });
        });




    });
</script>